@tailwind base;
@tailwind components;
@tailwind utilities;

#btn-wrapper {
    border-radius: 15px;
    background-color: blue;
    color: white;
}

#chat-buuton {
    background-color: transparent;
}