@tailwind base;
@tailwind components;
@tailwind utilities;

#btn-wrapper {
    border-radius: 45px;
    background-color: #f16d2b;
    color: white;
}

#chat-buuton {
    background-color: transparent;
}