@tailwind base;
@tailwind components;
@tailwind utilities;

#btn-wrapper {
    border-radius: 15px;
    background-color: transparent;
    color: #f16d2b;
}

#chat-buuton {
    background-color: transparent;
}